.maincard{
    width: 450px;
    height: 400px;
    margin-top: 20px;
}
.maincard1{
    background: url('../../assets/front_view.jpg');
    background-size: cover;
    display: flex;
    border-radius:20px;
    align-items: end;
    height: 400px;
}
.card1{
    width: 100%;
    padding: 0 0 20px 30px;
    border-radius: 0 0 20px 20px;
    padding-left: 10px;
    background-color: rgba(217, 217, 217, 0.3);
    top: 280px;

}
.maincard2{
    background: url('../../assets/doc_nurse.jpg');
    background-size: cover;
    display: flex;
    border-radius:20px;
    align-items: end;
    height: 400px;
}
.subcard1{
    background: url('../../assets/woman-running.jpg');
    background-size: cover;
    border-radius: 20px;

}
.cardimg3{
    border-radius: 20px;
    margin-top: 80px;
    height: 582px;
    z-index: -1;
}

.subcard{
    /* height: 100px; */
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardhead1{
    padding-top: 1px;
    text-align: center;
    margin-bottom: 1px;
}
.card-container{
    display: flex;
    margin-top: 10px;
}
.list{
    padding: 15px;
    margin: 10px;
}

.cardlist1{
    list-style: none;
    padding-bottom: 5px;
}
.card2{
    width: 100%;
    border-radius: 0 0 20px 20px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    top: 3px;
}
.opacity{
    background-color: rgba(217, 217, 217, 0.3);
    width: 100%;
    border-radius: 20px;
    padding: 0 20px;
}
.head{
    text-align: center;
}
/* .lastcard{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
} */