#intro{
    width: 100%;
    /* margin: 0 auto; */
    overflow: hidden;
    position:relative;
}
.bg{
    width: 100%;
    position:absolute;
    right: 0;
    top:0;
    z-index: -1;
}
.introcontent{
    color: black;
    width: 60%;
    float: right;
    /* height: 60vh; */
    align-items: flex-end;
    /* text-align:left; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding:100px;
} 
.hell0{
    font-size: 2rem;
    font-weight: 700;
}
.intropara{
    text-align: left;
    width: 100%;
    padding: 5px;
}

.name{
    font-size: 1.5rem;
    font-weight:normal;
}

p{
    font-size: medium;
    /* font-weight: 100; */
}

@media screen and (max-width:390px){
    .bg{
        width: 100vw;
        height: 25vh;
        object-fit: cover;
        position: absolute;
    }

    #intro{
        position: relative;
    }

    .introcontent{
        display:block;
        font-size: 10px;
        margin-top: 30px;
        color: black;
        width: 170px;
        letter-spacing: 2px;
    }
    .hello{
        font-size: 10px;
        font-weight: bold;
    }
    .name{
        font-size: 10px;
        color: rgb(139, 26, 26);
    }
    p{
        font-size: 10px;
    }
}