#intro{
    width: 100%;
    /* margin: 0 auto; */
    overflow: hidden;
    position:relative;
}
.bg{
    width: 100%;
    position:absolute;
    right: 0;
    top:0;
    z-index: -1;
}
.introcontent{
    color: black;
    width: 60%;
    float: right;
    /* height: 60vh; */
    align-items: flex-end;
    /* text-align:left; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding:100px;
} 
.hell0{
    font-size: 2rem;
    font-weight: 700;
}
.intropara{
    text-align: left;
    width: 100%;
    padding: 5px;
}

.name{
    font-size: 1.5rem;
    font-weight:normal;
}

p{
    font-size: medium;
    /* font-weight: 100; */
}

