.firsttest{
    width: 100%;
    display: flex;
    justify-content: center;
}
.testimonial{
margin: 20px;
width: 100%;
}
/* .slidecard{
    padding: 20px;
    margin: 300px;
} */
.innercard {
    background-color: rgb(217, 217, 217);
    height: auto;
    padding: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    border-radius: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    margin: 20px;
}
.innercard h3{
    font-size: 14px;
   line-height: 2.5;
}
.innercard p{
    font-size: 12px;
}

.swiper-button-prev, .swiper-button-next {
    color: black !important;
}
.swiper-pagination-bullets{
    color: black !important;
    opacity: 1;

}
.swiper{
    background: #f2f2f2;
    padding:60px !important;
}
