.gridcard{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}
.mainAlign{
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  padding:60px;
}
.linkstyle li a{
  text-decoration: none;
  color: inherit;
}

.linkstyle :hover{
  color: blue;
  cursor: pointer;
}
/* 
.bannerImage{
  width: 100%;
} */

.bannerh4span{
  font-size: 25px;
}

.bannercontainer{
  background-image: url('/src/assets/mainbg.jpg');
   background-size: cover !important;
    padding:60px 0px !important;
    height: 100vh;
}
.bannerContent{
 padding:80px !important; 
  margin:auto;
}
.logostyle{
  width: 30%;
}

.nav-link:hover{
  color: rgb(62, 147, 193) !important;
  /* text-decoration: underline; */
  border-bottom: 3px solid !important;
  border-color:  rgb(62, 147, 193) !important;
}

.conbtn:hover{
  background-color: rgb(38, 105, 142) !important;
}


 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
  .exp{
    padding: 0px!important;
    width: 100%  !important;
  }
  .exp li{
    padding: 9px !important;
    /* list-style: disc !important; */
  }

   .bannerContent{
    /* background: #00000021; */
    padding:25px !important; 
     margin:auto;
   }
   .bannerContent p{
    font-size: 15px !important;
   }
   .bannerh4span{
    font-size: 14px;
   }
   .Servicebgimg{
    background-size: cover !important;
    padding: 0px !important;
    border-radius:30px !important;
    width: 100% !important;
   }
   .bgcolor{
    border-radius: 30px !important;
   }
  .h4title{
    font-size: 14px !important;
  }
  .locationstyle{
    width: 370px;
  }
  .logostyle{
    width: 50%;
  }
  .resheader{
    margin-right: 0px !important;
  }
  .nav-link:hover{
    color: rgb(62, 147, 193) !important;
    border-bottom: 3px solid !important;
    border-color:  rgb(62, 147, 193) !important;
  }
  
 }