.gridcard{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}
/* .item1{
    grid-column-start: 1;
  grid-column-end: 3;
}  */

.mainAlign{
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  padding:60px;
}