.gridcard{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    justify-content: center;
    align-items: flex-start;
}
.mainAlign{
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  padding:60px;
}
.linkstyle li a{
  text-decoration: none;
  color: inherit;
}

.linkstyle :hover{
  color: blue;
  cursor: pointer;
}

.bannerImage{
  width: 100%;
}

.bannerh4span{
  font-size: 25px;
}

.bannercontainer{
  background-image: url('/src/assets/banner.jpg');
   background-size: cover !important;
    padding:40px 0px !important;
}
.bannerContent{
 padding:80px !important; 
  margin:auto;
}


 /* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
   .bannerContent{
    /* background: #00000021; */
    padding:20px !important; 
     margin:auto;
   }
   .bannerContent p{
    font-size: 10px !important;
   }
   .bannerh4span{
    font-size: 14px;
   }
   .Servicebgimg{
    background-size: cover !important;
    padding: 0px !important;
    border-radius:30px !important;
    width: 100% !important;
   }
   .bgcolor{
    border-radius: 30px !important;
   }
 }